@import "../../vars.css";

.container {
    position: relative;
    color: var(--color-text);
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    /* border-radius: 15px; */
}

.title {
    position: relative;
    z-index: 1;
    color: var(--color-text);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chara {
    position: relative;
    width: 40%;
}

.people {
    width: 100%;
    z-index: 1;

    animation-name: floatingPeople;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.glasses {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;

    animation-name: floatingGlasses;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floatingPeople {
    0% {
        transform: translate(0, -30%);
    }

    50% {
        transform: translate(0, 30%);
    }

    100% {
        transform: translate(0, -30%);
    }
}

@keyframes floatingGlasses {
    0% {
        transform: translate(0, 30%);
    }

    50% {
        transform: translate(0, -30%);
    }

    100% {
        transform: translate(0, 30%);
    }
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(40deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 25px;
}

.aboutItem i {
    font-size: 87px;
    margin-left: 20px;
}

.aboutItemText {
    padding-left: 25px;
}

.topBlur {
    position: absolute;
    width: 70vw;
    height: 70vw;
    min-width: 350px;
    min-height: 350px;
    top: 246px;
    left: -25vw;
    border: 764px;
    border-radius: 100%;
    background: #ffefa0;
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 100px;
    min-height: 100px;
    bottom: -30vw;
    right: -30vw;
    border: 500px;
    border-radius: 100%;
    background: #7b6079;
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        text-align: center;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }

    .aboutItem h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .aboutItem p {
        font-size: 18px;
    }

    .aboutItem i {
        font-size: 60px;
        margin-left: 20px;
    }
}