@import "../../vars.css";

.container {
    position: relative;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    position: relative;
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-text);
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
}

.contactBtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.heroImg {
    position: relative;
    width: 40%;
    align-items: flex-end;
    z-index: 1;
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes floating {
    0% {
        transform: translate(-10%, 0);
    }

    50% {
        transform: translate(10%, 0);
    }

    100% {
        transform: translate(-10%, 0);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10vw;
    border: 764px;
    border-radius: 100%;
    background: #FFC2B3;
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    left: -25vw;
    border: 764px;
    border-radius: 100%;
    background: #A9D0D9;
    filter: blur(100px);
    z-index: 0;
}

.rightBlur {
    position: absolute;
    width: 30vw;
    height: 20vw;
    min-width: 350px;
    min-height: 250px;
    top: 340px;
    right: -25vw;
    border: 764px;
    border-radius: 100%;
    background: #D3E397;
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .title {
        font-size: 60px;
    }

    .content {
        width: 100%;
        align-items: center;
    }

    .description {
        font-size: 20px;
    }

    .contactBtn {
        font-size: 20px;
        border: 2px solid rgba(255, 255, 255, 0.8);
    }
}